// Header
header{
    
    background-image: url('../img/home_slider.jpg');
    background-size: cover;
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        img{
            height: 45px;
        }
        i:hover{
            cursor: pointer;
            font-size: 20px;
            color: rgba(255, 255, 255, 0.432);
        }
        .dropdown {
            position: relative;
            
            .dropdown-menu a:hover {
                color: $hover_color;
            }
          
            .dropdown-menu {
                position: absolute;
                border-radius: 5px;
                padding: 0;
                background-color: #EA4A56;
                line-height: 2em;
                right: 0px;
                top: 39px;
                width: 830px;
                height: 186px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                list-style: none;
                line-height: 31px;
                a{
                    color: white;
                    text-decoration: none;
                    display: block;
                    cursor: pointer;
                    
                }
                
            }   
        }
          
        
    }
    .header_main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:152px;
        h1{
            font-size: $big_title;
        }
        p{
            font-style: italic;
            font-size: 12px;
        }
        button{
            margin-top: 63px;
            padding: 8px 20px;
            text-transform: uppercase;
            color: white;
            font-size: 10px;
        }
        button:hover{
            cursor: pointer;
            font-size: 7px;
        }
        .album_btn{
            background-color: $color_btn_album;
            border: transparent;
        }
        .album_btn:hover{
            border:5px solid $color_btn_album;
            cursor: pointer;
        }
        .dates_btn{
            background-color: transparent;
            border:1px solid white;
        }
        .dates_btn:hover{
            border:5px solid white;
            cursor: pointer;
        }
    }
}

