// Header
header{
    
    background-image: url('../img/home_slider.jpg');
    background-size: cover;
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        img{
            height: 45px;
        }
        .dropdown{
            background-color: $color_btn_album;
            width: 100%;
            z-index: 1;
            // visibility: hidden;
            .drop_top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 23px;
            }
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                line-height: 55px;
            }
        }
    }
    .header_main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:152px;
        h1{
            font-size: $big_title;
        }
        p{
            font-style: italic;
            font-size: 12px;
        }
        button{
            margin-top: 63px;
            padding: 8px 20px;
            text-transform: uppercase;
            color: white;
            font-size: 10px;
        }
        
        .album_btn{
            background-color: $color_btn_album;
            border: transparent;
        }
        .album_btn:hover{
            border:5px solid $color_btn_album;
            cursor: pointer;
        }
        .dates_btn{
            background-color: transparent;
            border:1px solid white;
        }
        .dates_btn:hover{
            border:5px solid white;
            cursor: pointer;
        }
    }
}

