// Header
header{
    // background-color: black;
    background-image: url('/dist/img/home_slider.jpg');
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        img{
            height: 45px;
        }
    }
    .header_main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px;
        h1{
            font-size: 90px;
        }
        button{
            margin-top: 63px;
            padding: 11px 20px;
            text-transform: uppercase;
            color: white;
        }
        .album_btn{
            background-color: $color_btn_album;
            border: transparent;
        }
        .album_btn:hover{
            border:5px solid $color_btn_album;
            cursor: pointer;
        }
        .dates_btn{
            background-color: transparent;
            border:1px solid white;
        }
        .dates_btn:hover{
            border:5px solid white;
            cursor: pointer;
        }
    }

}
    

