main{
    
    // section_1 & 2 Common
    .music_is_life, .latest_news{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 18px;
       p{
           font-size: $main_font_size;
        
       }
        h2{
            font-size: 60px;
            
        }
        hr{
            width: 28%;
            margin: 34px;
        } 
    }
    .music_is_life{
        background-color:$bg_section_one;
       
    }
    // section_2
    .latest_news{
        background-color: $bg_section_two;
        .latest_news_bottom{
            padding: 80px;
            width: 100%;
        }
        .left_col{
            display: flex;
            flex-direction: column;
            width: 70%;
        }
        .img_row{
            display: flex;
            justify-content: center;
            width: 70%;
        }
        .horizontal_img{
            width:70%;
            border:transparent;
            background-color:$bg_section_one ;
        }
        .vertical_img{
            width: 35%;
            border:transparent;
            background-color:$bg_section_one ;
        }
        .row_lft{
            border:transparent;
            background-color:$bg_section_one ;
        }
        h4{
            color:$color_btn_album;
        }
        
    }
}