main{
    
    // section_1 & 2 Common
    .music_is_life, .latest_news{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 18px;
       p{
           font-size: $main_font_size;
        
       }
        h2{
            font-size: 60px;
            
        }
        hr{
            width: 28%;
            margin: 34px;
        } 
    }
    .music_is_life{
        background-color:$bg_section_one;
       
    }
    // section_2
    .latest_news{
        background-color: $bg_section_two;
        h4, p{
            text-align: left;
            padding: 10px;
        }
        h4{
            color:$color_btn_album;
        }
        img{
            width: 100%;
            
        }
        .latest_news_bottom{
            padding: 80px;
            width: 100%;
            height: auto;
            display: flex;
            .left_col{
                width: 100%;
                .techMusic{
                    border:1px solid red;
                    background-color:$bg_section_one ;
                    
                }

                .img_row{
                    display: flex;
                    justify-content: center;
                    .guitar{
                        border:1px solid red;
                        background-color:$bg_section_one ;
                    }
                    .album{
                        border:1px solid red;
                        background-color:$bg_section_one ;
                    }
                    .vertical_img{
                    width: 100%;
                    border:transparent;
                    background-color:$bg_section_one ;
                    }
                }
                .rock{
                   
                    border:transparent;
                    background-color:$bg_section_one ;
                    border:1px solid red;
                }
            }
            .right_col{
                width: 80%;
                
                .bar{
                    border:1px solid red;
                    background-color:$bg_section_one ;
                }
                .guitar_player{
                    border:1px solid red;
                    background-color:$bg_section_one ;
                }
            }
        }
        
        
       
        
    }
}